@import url(http://fonts.googleapis.com/css?family=Lato:100);


body {
	background: url(../img/call-robot.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	font-family: 'Lato', sans-serif; 
}

form {font-family: sans-serif;}

h1 {font-family: inherit;}



.login {
   position:fixed;
   left:0px;
   top:0px;
   height:220px;
   width:30%;
   background: rgba(0, 0, 0, 0.8);
   padding-top: 5px;
   padding-left: 13px;
}

.login .brand {font-size: 1.8em; color: #f5f5f5;}
.login .slogan {color:#f5f5f5;}

.login-form { 
	width: 83%; 
	padding-left: 7px; 
}
