<form class="form-horizontal" role="form">
  
  <div class="form-group">
    <label for="script-title" class="col-lg-2 control-label">Script Title</label>
    <div class="col-lg-3">
      <input type="text" class="form-control" id="script-title" placeholder="Example: Yearly Call" required>
    </div>
  </div>
  
  
  <div class="form-group">
    <label for="script-body" class="col-lg-2 control-label">Script Body</label>
    <div class="col-lg-6">
		<textarea class="form-control" rows="10"
       class="form-control" id="script-body" placeholder="Example: Hi, this is me. I'm calling because..." required></textarea>
    </div>
  </div>

  
  




  
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <button type="submit" class="btn btn-default">Save</button>
    </div>
  </div>
</form>